<footer>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore laboriosam aliquid perferendis ipsum illo, harum exercitationem maxime fuga! Excepturi commodi reprehenderit repellat totam explicabo saepe rerum neque impedit, earum aspernatur.</p>
</footer>